.blogscard{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    padding: 10px;
    
}